.wrapper{
  display: flex;
}
/* サイドバーここから */
.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side_ber_top{
  height: 100px;
  padding: 0px 20px;
}
.side_ber_bottom{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0px 20px;
}

/* メインチャットここから */
.main_chat{
  width: calc(100vh - 300px);
  background-color: #ffffff;
}
.chat_top{
  height: 100px;
  padding: 0px 40px;
}
.chat_content{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px 40px;
}
.chat_bottom{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}